# Node.js Dependencies
node_modules
npm-debug.log
yarn-error.log

# Logs & Temp-Dateien
logs
*.log
tmp/
*.tmp

# Umgebungsvariablen
.env

# Git & Docker-Kram
.git
.dockerignore
Dockerfile
docker-compose.yml
