* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.input-group-text {
  border: 0;
  background: transparent;
}

.form-control {
  padding-right: 30px;
}

.custom-width {
  width: 350px !important;
}

.sidebar {
  height: 94vh;
  overflow-y: auto; /* Macht die Sidebar scrollbar */
  overflow-x: hidden; /* Verhindert horizontales Scrollen */
}

@media (min-width: 1920px) {
  .super-large-1 {
    width: 12.33336%;
  }

  .super-large-11 {
    width: 87.66666%;
  }
}
