* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* global CSS */
.tox-promotion {
  display: none !important;
}

.input-group-text {
  border: 0;
  background: transparent;
}

.form-control {
  padding-right: 30px;
}

.custom-width {
  width: 350px !important;
}

.sidebar {
  height: 91.5vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.area-img {
  height: 50%;
  width: 50%;
  border-radius: 8px;
}

.toast {
  display: block !important;
}

#tooltip-top > .tooltip-inner {
  background-color: #062e56;
  color: #fff;
  border: 1px solid #062e56;
}

.pulse-button {
  animation: pulse 1s ease-in-out infinite;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-switch-lg .form-check-input {
  transform: scale(1.5);
  margin-right: 1rem;
}

/* CLOCK STYLES */
#timediv {
  background: #fff;
  text-align: center;
  width: 148px;
  color: #000;
  border: 1px #ccc groove;
  position: relative;
  top: -60px;
  right: -208px;
}
.body_time {
  background: #17c8e8;
  padding: 100px;
  width: 58px;
  border-radius: 50%;
  margin: 15% auto;
}
.anim {
  background-image: url('https://i.github-camo.com/2c08678c355ef710338f4abf170cc999501b4093/68747470733a2f2f662e636c6f75642e6769746875622e636f6d2f6173736574732f36393136392f323239303235302f63333564383637612d613031372d313165332d383662652d6364376335626633666639622e676966');
  background-repeat: no-repeat;
  height: 397px;
  width: 409px;
}

.edit-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(220, 220, 220, 0.6);
  z-index: 1000;
  pointer-events: all;
  backdrop-filter: blur(1px);
}

.edit-overlay-container {
  position: relative;
  z-index: 1;
}

.edit-disabled {
  pointer-events: none;
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.edit-active-box {
  position: relative;
  z-index: 2;
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.admin-sidebar {
  position: sticky;
  top: 80px;
  z-index: 2;
}

/* ARTIKEL ACTION BAR */
:fullscreen .article-action-bar {
  display: none !important;
}

@media (min-width: 1920px) {
  .super-large-1 {
    width: 12.33336%;
  }

  .super-large-11 {
    width: 87.66666%;
  }
}

/* KEYFRAMES ANIMATIONS */
@keyframes pop {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 48;
  }
  to {
    stroke-dashoffset: 0;
  }
}
