<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Changed</title>
</head>

<body>
  <h1>Hello %username%</h1>
  <p>Your password has been successfully changed. If you did not initiate this change, please contact our support team
    immediately.</p>
  <p>For security reasons, we cannot display your new password. If you have forgotten your password, you can reset it
    through the "Forgot Password" option on our login page.</p>
  <p>We recommend that you keep your password secure and do not share it with anyone.</p>
  <p>If you have any questions or concerns, feel free to reach out to our support team.</p>
  <p>Your my-wiki Team</p>
</body>

</html>