<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrierung bestätigen</title>
</head>

<body>
  <h1>Hallo %username%,</h1>
  <p>wenn Sie sich nicht registriert haben, ignorieren Sie bitte diese E-Mail!</p>
  <p>Vielen Dank für Ihre Registrierung auf unserer Webseite.</p>
  <p>Um die Registrierung abzuschließen, klicken Sie bitte auf den folgenden Link:</p>
  <h2><a href="%token%">Registrierung abschließen</a></h2>

  <p>Nach der Bestätigung können Sie sich anmelden und direkt loslegen.</p>
  <p>Mit freundlichen Grüßen,<br />Ihr my-wiki Team</p>
</body>

</html>