<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Verify registration</title>
</head>

<body>
  <h1>Hello %username%</h1>
  <p>If you have not registered, please ignore the email!</p>
  <p>Thank you for registering on our site</p>
  <p>To complete the registration, you must enter the following code <b>%token%</b> in the box </p>

  <p>After verification, you can log in and get started</p>
  <p>Your my-wiki Team</p>
</body>

</html>